body {
    margin: 0;
    font-family: Raleway, Heiti SC, sans-serif;
}

button:focus {
    outline: none;
}

/*** Navbar ***/

.navbar {
    top: 0;
    width: 100%;
    background-color: rgba(72,136,163,.93);
}

.navbar .logo {
    float: left;
    color:rgba(255,255,255,1);
    text-align: center;
    padding: 10px 16px;
    font-size: 36px;
    cursor: pointer;
    background: none;
    border: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li button {
    display: block;
    padding: 16px 22px;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-align: center;
    background: none;
    border: none;
}

.navbar li button:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,1);
    color: rgba(72,136,163,.93);
}

.navbar .dropper {
    cursor: default;
}

.navbar .outer .close1 {
    margin-top: -585px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar .outer .close2 {
    margin-top: -705px;
    margin-right: 20px;
    cursor: pointer;
}


.navbar .outer .dropdown button {
    display: block;
    padding: 16px 22px;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-align: center;
    background: rgba(72,136,163,.93);
    border: none;
    width: 100%;
}

.navbar .outer .dropdown button:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,1);
    color: rgba(72,136,163,.93);
}


/*** Search ***/

.searchform {
    max-width: 50%;
}

.active {
    margin-top: 10vh;
}

.searchform .searchbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    width: 100%;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
}

.searchform .title {
    font-size: 80px;
    color: rgba(72,136,163,.93);
    margin-bottom: 30px;
    cursor: default;
}

.searchform button {
    background-color: rgba(72,136,163,.93);
    color: rgba(255,255,255,1);
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
}

.searchform .filterbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;

}


.searchform .course_number {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
    background-color: rgb(220,220,220)


}

.searchform .course_number_active {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
}

.searchform .filters {
    display: inline;
    overflow: auto;
}

.searchform .filters .filterinputs {
    width: 30%;
    float: right;
    margin-right: 10%;
    color: rgba(72,136,163,.93);
}






/*** Login | Signup ***/

.navpop {
    padding: 20px;
    display: block;
}

.navpop .header {
    width: 100%;
    overflow: hidden;
}

.navpop h1 {
    float: left;
    color:rgba(72,136,163,.93);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 100px;
    font-size: 40px;
    cursor: default;
}

.navpop h2 {
    float: left;
    color:rgba(72,136,163,.93);
    font-size: 20px;
    cursor: default;
    margin-bottom: 50px;
}

.navform .field {
    width: 100%;
    overflow: hidden;
}

.navpop p {
    float: left;
}

.navpop .searchbar {
    float: left;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    width: 100%;
    text-align: left;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 0px;
}

.navpop button {
    background-color: rgba(72,136,163,.93);
    color: rgba(255,255,255,1);
    border: none;
    font-size: 24px;
    width: 100%;
    padding: 15px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.navpop a {
    color: rgba(72,136,163,.93);
    text-decoration: underline;
}

/*** User Page ***/
/* History */

/* Favorites */

.favorites {
    padding: 20px;
    display: block;
}

.favorites .header {
    width: 20%;
    overflow: hidden;
}

.favorites .header h1 {
    float: left;
    color:rgba(72,136,163,.93);
    padding-bottom: 15px;
    padding-right: 100px;
    font-size: 40px;
    cursor: default;
}

.favorites .favList  {
    font-size: 30px !important;
    cursor: default;
}

.favorites img {
    cursor: pointer;
}

.favorites .favList .favResult {
    list-style-type: none;
    padding-bottom: 26px;

}

.favorites .favList .favResult .each {
    list-style-type: none;
    color:rgba(72,136,163,.93);
}

.favorites .favList .favResult .each div img{
    position: relative;
    left: 120px;
}

/* Settings */

.settings {
    padding: 20px;
    display: block;
}

.settings .header {
    width: 50%;
    overflow: hidden;
}

.settings h1 {
    float: left;
    color:rgba(72,136,163,.93);
    padding-bottom: 15px;
    padding-right: 100px;
    font-size: 40px;
    cursor: default;
}

.settings .field {
    width: 100%;
    overflow: hidden;
}

.settings p {
    float: center;
}

.settings .searchbar {
    float: center;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    width: 40%;
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 75px;
}

.settings button {
    background-color: rgba(72,136,163,.93);
    color: rgba(255,255,255,1);
    border: none;
    font-size: 24px;
    width: 40%;
    padding: 15px;
    margin-top: -10px;
}

.settings a {
    color: rgba(72,136,163,.93);
    text-decoration: underline;
}


/*** Toast ***/
.popup {
    background:rgba(72,136,163,.93) !important;
    font-family: Raleway, sans-serif !important;
    color: rgba(255,255,255,1) !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    text-align: center !important;
}
.error {
    background:rgba(207, 70, 70, 0.93) !important;
}

/*** ResSearch ***/
.ressearchform {
    max-width: 50%;
}

.resactive {
    margin-top: 10vh;
}

.ressearchform .ressearchbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.65);
    text-align: left;
    width: 100%;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
    margin-left: 8%;
    margin-top: 10px;
    font-size: 140%;

}

.ressearchform .restitle {
    font-size: 80px;
    color: rgba(72,136,163,.93);
    margin-bottom: 30px;
    cursor: default;
}

.ressearchform button {
    background-color: rgba(72,136,163,.93);
    color: rgba(255,255,255,1);
    border: none;
    font-size: 18px;
    margin-top: 20px;
    position: absolute;
    left: 55%;
    top: 89px;
}

.ressearchform .resfilterbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
    text-align: center;

}

.ressearchform .resfilters {
    display: inline-block;
    overflow: auto;
    position: relative;
    right: 20%;
}

.ressearchform .resfilterinputs {
    width: 30%;
   float: right;
}

.ressearchform .course_number {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
    background-color: rgb(220,220,220)
}

.ressearchform .course_number_active {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: center;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
}

.ressearchbar::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(72,136,163,.93);
}


