body {
    margin: 0;
    font-family: Heiti SC, sans-serif;
}
  
.navbar {
    position:fixed;
    width: 100%;
    overflow: hidden;
    background-color: rgba(72,136,163,.93);
}
  
.logo {
    float: left;
    color:rgba(255,255,255,1);
    text-align: center;
    padding: 10px 16px;
    font-size: 36px;
    cursor: default;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    padding: 16px 22px;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-align: center;
}

a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,1);
    color: rgba(72,136,163,.93);
}