.ressearchform {
    max-width: 50%;
}

.resactive {
    margin-top: 10vh;
}

.ressearchform .ressearchbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    text-align: left;
    width: 100%;
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;
    margin-left: 8%;
    margin-top: 10px;
    font-size: 140%;

}

.ressearchform .restitle {
    font-size: 80px;
    color: rgba(72,136,163,.93);
    margin-bottom: 30px;
    cursor: default;
}

.ressearchform button {
    background-color: rgba(72,136,163,.93);
    color: rgba(255,255,255,1);
    border: none;
    font-size: 18px;
    margin-top: 20px;
    position: absolute;
    left: 55%;
    top: 89px;
}

.ressearchform .resfilterbar {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.65);
    color: rgba(72,136,163,.93);
    outline: none;
    margin-bottom: 10px;

}

.ressearchform .resfilters {
    display: inline;
    overflow: auto;
}

.ressearchform .resfilters .resfilterinputs {
    width: 30%;
    float: right;
    margin-right: 10%;
}
